
.logo-presentacion{
    margin-top: 100px;
    width: 250px;
    height: 250px;
    align-items: center;
}

.parrafo-detalles{
    font-family: "carlito-italic";
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 20px;
}

div{
    margin-top: 20px;
}


p{
    margin-left: 20px;
    margin-right: 20px;
}
