/*
El siguiente código para importar la tipografía está sacado de la página web:
https://developer.mozilla.org/es/docs/Learn_web_development/Core/Text_styling/Web_fonts
*/
@font-face {
    font-family: "carlito";
    src: url("imagen-corporativa/Carlito-Regular.ttf");
}

@font-face {
    font-family: "carlito-bold";
    src: url("imagen-corporativa/Carlito-Bold.ttf");
}

@font-face {
    font-family: "carlito-italic";
    src: url("imagen-corporativa/Carlito-Italic.ttf");
}
/* */

h1{
    font-size: 40px;
    color: #1a2929;
    font-family: "carlito-bold";
}

h2{
    color: #1a2929;
    font-family: "carlito-italic";
}
 

.logo-presentacion{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    align-items: center;
}

.center{
    text-align: center;
    align-items: center;
}

.parrafo-detalles{
    font-family: "carlito-italic";
    /*max-width: 500px;
    align-items: center;*/
}

div{
    margin: 100px;
}

body{
    background-color: #eddec9;
    font-family: "carlito";
}

.contenedor-general{
    margin: 20px;
}

li{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
}