.DS_Store
Practica_2/node_modules/async/.anySeries 2.js.icloud
*.icloud
Practica_2/data/aw_sw.db-shm
Practica_2/data/aw_sw.db-wal
Practica_1/static/.DS_Store
.DS_Store
Practica_1/static/.DS_Store
Practica_1/.DS_Store
.DS_Store
/Practica_3/node_modules
/Practica_4/node_modules
