<link rel="stylesheet" href="/css/estilo.css">

<%
function mostrarUsername(session){
	return `<h1>${session.username}</h1>`;
}
%>

<div class="general">
    <div class = "cabecera_perfil">
        <img src="/iconos/perfil_imagen.jpg" width="100" alt="Error al cargar">
        <div class = "texto_cabecera_perfil">
            <div class="username">
            <%- mostrarUsername(session) %>
            </div>
            <div class = "cabecera_perfil">
                <div class = "elemento_cabecera_perfil">
                    <h3>Seguidores</h3>
                    <h3>0</h3>
                </div>
                <div class = "elemento_cabecera_perfil">
                    <h3>Seguidos</h3>
                    <h3>0</h3>
                </div>
                <div class = "elemento_cabecera_perfil">
                    <h3>Ajustes</h3>
                    <h3>0</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="publicaciones">
    </div>
</div>
