<link rel="stylesheet" href="/css/estilo.css">


<div class="general">
    <div class="cabecera-recetario">
        <div class="texto-cabecera-perfil">
            <img src="/iconos/save_relleno.jpg" alt="No encontrada" class="perfil-img">
            <h1>Recetario</h1>
        </div>
        <h3>Aquí encontrarás todas tus recetas guardadas</h3>
    </div>
</div>

