<h1>Top del fogón</h1>
<p>Este es el ranking de recetas de Caldo Morado</p>
<div>
    <table id="tabla-clasificacion" class = "tabla-clasificacion">
        <thead>
            <th>Posición</th>
            <th>Usuarios</th>
            <th>Publicación</th>
            <th>Likes</th>
        </thead>
        <tbody></tbody>
    </table>

    <script src="/js/tabla.js" type = "module"></script>
</div>