<h1>Top del fog칩n</h1>
<p>Este es el ranking de recetas de Caldo Morado</p>
<div>
    <table id="tabla-clasificacion" class="tabla-clasificacion">
        <thead>
            <tr>
                <th>Posici칩n</th>
                <th>Usuarios</th>
                <th>Publicaci칩n</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>AnaCocina</td>
                <td>Tarta de Chocolate</a></td>
                <td>250</td>
            </tr>
            <tr>
                <td>2</td>
                <td>ChefJuan</td>
                <td>Paella Valenciana</a></td>
                <td>220</td>
            </tr>
            <tr>
                <td>3</td>
                <td>RecetasConAmor</td>
                <td>Lasa침a Casera</a></td>
                <td>180</td>
            </tr>
            <tr>
                <td>4</td>
                <td>SaborLatino</td>
                <td>Arepas Venezolanas</a></td>
                <td>160</td>
            </tr>
            <tr>
                <td>5</td>
                <td>ComidaSaludable</td>
                <td>Ensalada Detox</a></td>
                <td>140</td>
            </tr>
        </tbody>
    </table>

    <script src="/js/tabla.js" type = "module"></script>
</div>