
<% for (let i = 0; i < publicaciones.length; i++) { %>


    <div class="feed_post" post_id = "<%= publicaciones[i].id %>" >

        <div class="feed_head">
        <div class="feed_tit"><h2><%= publicaciones[i].titulo %></h2></div>
        <div class="feed_butt">
            <button class="feed_like"><img src="/iconos/like_vacio.png" width="30" alt="a"></button>
            <button class="feed_save"><img src="/iconos/save_vacio.png" width="30" alt="a"></button>
            <button class="feed_comment"><img src="/iconos/comentario.png" width="30" alt="a"></button>
        </div>
        </div>

        <div class = "feed_imgs">
        <!--Carrusel de fotos-->
        <button type="button" class = "carroussel-btn" id="feed_anterior">←</button>
        <div>
            <div id="feed_image"></div>
            <p id="feed_pie-de-foto" class = "pie-de-foto">Aqui va el pie de foto</textarea>
        </div>
        <button type="button" class = "carroussel-btn" id="feed_siguiente">→</button>
        </div>

    </div>
  <% } %>

  <script src="/js/carruselFeed.js"></script>