
.cocinar-general {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.cocinar-titulo_receta {
    width:94% ;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
}

.cocinar-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

label{
    font-size: 30px;
    margin-bottom: 20px;
}


.cocinar-columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 30px;
}

.cocinar-col1{
    align-items: center;
    width: 40%;
    display: flex;
}

.cocinar-col2{
    width: 45%;
}


.cocinar-image-placeholder {
    width: 450px;
    height: 450px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.cocinar-cancel-btn {
    background:  #a80e0e;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 0px;
    color: white;
}
.cocinar-publish-btn {
    background: #325d32;
    color: white;
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 5%;
    border: 0px;
    width: 60px;
    height: 30px;
}

.cocinar-pie-de-foto{
    margin-top: 10px;
    width:450px;
    height: 50px;
    max-width: 450px;
    min-width: 450px;
    min-height: 50px;
}
.cocinar-colaboradores{
    width: 100%;
    height: 100px;
}
.cocinar-carroussel-btn{
    width: 40px;
    height: 40px;
}

#cocinar-myImage {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc; 
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
}
#cocinar-add-image-btn{
    margin-left: 45%;
}

.cocinar-colab-select {
    width: 70%;
    height: 30px;
    line-height: 30px; /* Asegura que el texto esté centrado */
}

.cocinar-col-btn {
    height: 30px;
    width: 60px; 
    display: flex;
    align-items: center;
    border: 1px solid #000;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
}

.cocinar-select-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.cocinar-colab-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    max-height: 300px;
}

.cocinar-publish-container{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70%;
    justify-self: flex-end;
}

#cocinar-colablist li {
    width: 60%;
    background-color: #ddd;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #000 1px solid;
}

.cocinar-colaborador-input{
    width: 70%;
    height: 30px;
    min-height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px;
}
.cocinar-hidden-item {
    display: none !important; /* Oculta completamente el elemento */
}