/*
El siguiente código para importar la tipografía está sacado de la página web:
https://developer.mozilla.org/es/docs/Learn_web_development/Core/Text_styling/Web_fonts
*/
@font-face {
    font-family: "carlito";
    src: url("../imagen-corporativa/Carlito-Regular.ttf");
}

@font-face {
    font-family: "carlito-bold";
    src: url("../imagen-corporativa/Carlito-Bold.ttf");
}

@font-face {
    font-family: "carlito-italic";
    src: url("../imagen-corporativa/Carlito-Italic.ttf");
}
/* */


h1{
    font-size: 25px;
    /*color: #1a2929;*/
    font-family: "carlito-bold";
}

h2{
    /*color: #1a2929; */
    font-family: "carlito-italic";
}
 
body{
    background-color: #faf0e2;
    font-family: "carlito";
}


div#contenedor {
	/*width: 900px;*/
	/*margin: auto;*/
	/*border: 1px solid black;*/
	background-color: #faf0e2;
	/*margin-top: 30px;*/
}

header {
	display: flex;
	align-items: center;
	background-color: #eddec9;
	color: black;
}

header a, header a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
} 

header a:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;
} 

div.logohead{
	display: flex;
	align-items: center;
	margin-right: 10px;
	padding: 10px;
}


nav {
	padding-top: 50px;
	margin-top: 10px;
	float: left;
	width: 170px;
	height: 400px;
	background-color: #eddec9;
	border-radius: 20px;
	padding-left: 20px;
	margin-left: -30px;
}

nav a, nav a:visited {
	color: #967c59;
	font-weight: bold;
	text-decoration: none;
} 

nav a:hover {
	color: black;
	text-decoration: underline;
} 


aside {
	padding: 10px;
	float: right;
	width: 170px;
	height: 400px;
	background-color: #eddec9;
}

main {
	padding: 30px;
	float: left;
	min-height: 600px;
	width: 80%;
	background-color: #faf0e2;
	margin-left: 20px;
}

footer	 {
	clear: both;
	padding: 20px;
	background-color: #eddec9;
	text-align: center;
}

div.saludo {
	width: 100%;
	text-align: right;
}

fieldset {
	border: 1px solid black;
	width: 15em;
	margin: 0 auto;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}

.carroussel-btn{
    border-radius: 10%;
    width: 100px;
    height: 35px;
    color: white;
	background-color: #303030;
}

.carroussel-btn:hover{
    background: #ebebeb;
    color:black;
    cursor: pointer;
}

.saludo{
	padding-left: 30px;
	padding-right: 30px;
}

div.cabecera_perfil{
	display: flex;
}

div.cabecera_perfil_texto{
	display: flex;
}

div.elemento_cabecera_perfil{
	display: flex;
	padding-left: 50px;
	padding-left: 10px;
}
.username{
	margin: 20px;
}

.tabla-clasificacion{
    width: 70%;
	margin: 0 auto;
	text-align: left; 
	
}

thead{
	font-size : 20px;
}

.tr{
	margin-top: 20px;
}

.feed_post {
	margin-left: 20%;
	width: 50%;
}


.feed_head {
	display: flex;	
	align-items: center;
}

.feed_tit {
	font-size: 22px;
}

.feed_butt {
	width: 100%;
	text-align: right;
}

.feed_butt img {
    transition: opacity 0.3s ease-in-out;
}

.feed_like:hover img {
    content: url("/iconos/like_relleno.png");
}
.feed_save:hover img {
    content: url("/iconos/save_relleno.png");
}


#chat-list {
    flex-grow: 1;  /* Hace que la lista de chats se expanda */
    overflow-y: auto;
}

/* Cada chat debe adaptarse */
.chat-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.chat-item:hover {
    background: #f5f5f5;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 15px;
}

.chat-info {
    flex-grow: 1;
}

.chat-info strong {
    display: block;
    font-size: 16px;
}

.chat-info .last-message {
    color: gray;
    font-size: 14px;
}

.chat-time {
    font-size: 12px;
    color: gray;
}

.msg-container {
	display: flex;
	flex-direction: column;
	height: 1000px;
}

.msg-header {
	padding: 10px;
	background: #eddec9;
	display: flex;
	align-items: center;
}

.msg-messages {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
	background: #faf0e2;
}

.msg-mensaje {
	max-width: 60%;
	margin: 5px 0;
	padding: 10px;
	border-radius: 10px;
}

.msg-mio {
	background: #eddec9;
	margin-left: auto;
	text-align: right;
}

.msg-otro {
	background: #eddec9;
	margin-right: auto;
	text-align: left;
}

.msg-input {
	display: flex;
	padding: 10px;
	border-top: 1px solid #eddec9;
	background: #faf0e2;
}
.tab-col1{
    text-align: center;
    max-width: 5%;
    width: 5%;
}
.tab-col2{
    width: 40%;
}

th{
    background-color: #eddec9;
    color: #635239;
    padding: 10px;
    text-align: left;
    align-items: center;
}

table{
    width: 100%;
    margin-top: 20px;
}


.cocinar-general {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.cocinar-titulo_receta {
    width:94% ;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
}

.cocinar-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

label{
    font-size: 30px;
    margin-bottom: 20px;
}


.cocinar-columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-top: 30px;
}

.cocinar-col1{
    align-items: center;
    width: 40%;
    display: flex;
}

.cocinar-col2{
    width: 45%;
}


.cocinar-image-placeholder {
    width: 450px;
    height: 450px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.cocinar-cancel-btn {
    background:  #a80e0e;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 0px;
    color: white;
}
.cocinar-publish-btn {
    background: #325d32;
    color: white;
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 5%;
    border: 0px;
    width: 60px;
    height: 30px;
}

.cocinar-pie-de-foto{
    margin-top: 10px;
    width:450px;
    height: 50px;
    max-width: 450px;
    min-width: 450px;
    min-height: 50px;
}
.cocinar-colaboradores{
    width: 100%;
    height: 100px;
}
.cocinar-carroussel-btn{
    width: 40px;
    height: 40px;
}

#cocinar-myImage {
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc; 
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
}
#cocinar-add-image-btn{
    margin-left: 45%;
}

.cocinar-colab-select {
    width: 70%;
    height: 30px;
    line-height: 30px; /* Asegura que el texto esté centrado */
}

.cocinar-col-btn {
    height: 30px;
    width: 60px; 
    display: flex;
    align-items: center;
    border: 1px solid #000;
    justify-content: center;
    padding: 0;
    border-radius: 5px;
}

.cocinar-select-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

.cocinar-colab-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    max-height: 300px;
}

.cocinar-publish-container{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70%;
    justify-self: flex-end;
}

#cocinar-colablist li {
    width: 60%;
    background-color: #ddd;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #000 1px solid;
}

.cocinar-colaborador-input{
    width: 70%;
    height: 30px;
    min-height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px;
}
.cocinar-hidden-item {
    display: none !important; /* Oculta completamente el elemento */
}

/* Estilos generales para la cabecera del perfil */
.cabecera-perfil {
    display: flex;
    align-items: center;
    background-color: #eddec9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #635239;
    padding: 20px;
    margin: 20px auto;
}

.perfil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.texto-cabecera-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.username {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* barra horizontal de estadisticas */
.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.stat-item {
    text-align: center;
}

.stat-item p {
    font-size: 18px;
    font-weight: bold;
    color: #635239;
}


/* publicaciones */
.publicaciones {
    margin-top: 20px;
}

.publicacion{
    display: flex;
    border-top: #635239 1.5px solid;
    /*border-bottom: #635239 1px solid;*/
    align-items: center;
}

.contributor-img{
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.texto-publicacion{
    margin: 10px;
    margin-left: 20px;
}
